doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 16
    link(rel='stylesheet', href='./css/d-16.css')
  body
    h2 Drill 16

    h1 Multi-Quote
    input#symbol(type='text')
    button#get Get Quotes
    #quote



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-16.js')
