doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill - 23
    link(rel='stylesheet', href='./css/d-23.css')
  body

    #controls
      h1 Plot Temp
      input#zip(type='text', placeholder='zipcode')
      button#add Add Temp

    #graph

    script(src='./js/vendor/jquery-2.1.0.js')

    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/light.js")

    script(src='./js/source/d-23.js')
